body {
    background-color: #C9FF3B;
    font-family: Verdana;
    font-size: 14px;
}

#base_block {
    margin: 0 auto;
    width: 800px;
    background-color: white;
}

header {
    background-color: #3BFFA6;
}

footer {
    background-color: #3BFFA6;
}

#auth, #user_welcome_message, #control_buttons {
    text-align: right;
    padding: 10px;
}

#auth a, #control_buttons a{
    border-bottom: 2px dashed #C9FF3B;
    text-decoration: none;
    padding-left: 5px;
}

#auth a:hover, #control_buttons a:hover {
    border-bottom: 2px dashed white;
    color: white;
    text-decoration: none;
    padding-left: 5px;
}

#user_welcome_message {
    
}

#page_title {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

#register_table {
    margin: 0 auto;
}